<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer" /> 
    <title>Web Shell</title>
  </head>
  <body>
    <div id="terminal"></div>
  </body>
</html>